body {
    background-color: #dd3030;
  }



section {
    margin: 0 auto;
  }
  
  .azul {
    background-color:#3e49d6;
    color: black;
    padding: 20px;
  }


  img {
    float: right;
    margin-top: 0;
    margin-right: 0;
  }



  .verde {
    background-color:#ffbc58;
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 1100px;
  }




  .aside-derecha {
    float: right;
  }
  .aside-derecha {
    background-color:#ffbc58;
    border-radius: 20px;

  }
  
section{
    display: flex;
    width: 900px;
    height: 430px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: .5s ease;
}
section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}